params {
  project_folder  = "$PWD"
  fastqc_raw_data  = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/data/"
  fastp_output    = "fastp_output"
  fastp_pattern = "*_R{1,2}_001.fastq.gz"

  cpus   = 4
  memory = '8GB'
  time   = '2h'
  run_type    = null
  containers  = null
}

profiles {

  local {
    process {
      maxForks = 1
    }
    params.run_type   = 'local'
    params.containers = 'docker'
    includeConfig 'configs/local.config'
  }

  hpc {
    params.run_type   = 'hpc'
    params.containers = 'singularity'
    includeConfig 'configs/slurm.config'
  }

}
